<h2>Cart</h2>

@if (Model == null)
{
    <div class="alert alert-warning">Cart is empty</div>
    return;
}

<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Qty</th>
        <th>Unit Price</th>
        <th>Total Price</th>
    </tr>

    @{
        double gTotal = 0;
    }

    @foreach (var item in Model)
    {
        double uTotal = item.Price * item.Qty;
        gTotal += uTotal;

        <tr>
            <td>@item.Name</td>
            <td>
                <a href="/Order/Decrease/@item.Id"><i class="fa fa-minus"></i></a>
                @item.Qty
                <a href="/Order/Increase/@item.Id"><i class="fa fa-plus"></i></a>
            </td>
            <td>@item.Price</td>
            <td>@uTotal</td>
        </tr>
    }

    <tr>
        <th colspan="3" class="text-end">Grand Total</th>
        <th>@gTotal</th>
    </tr>

    <tr>
        <td colspan="4" class="text-end">
            <form method="post" action="/Order/PlaceOrder">
                <input type="hidden" name="gTotal" value="@gTotal" />
                <input type="submit" value="Place Order" class="btn btn-danger" />
            </form>
        </td>
    </tr>
</table>
